body {
margin: 0;
font-size:16px;
color: #000000;
font-family:Arial, Helvetica, sans-serif;
background-color:#1E3B67 !important;

}
#sliderWrap {
margin: 0 auto;
width: 300px;
}
#slider {

top:475px;
position: relative;
background-image:url(../img/slider.png);
background-repeat:no-repeat;
background-position: bottom;
width: 300px;
height: 159px;
margin-top: -141px;
}
#slider img {
border: 0;
}
#sliderContent {
margin: 50px 0 0 50px;
position: absolute;
text-align:center;
background-color:#FFFFCC;
color:#333333;
font-weight:bold;
padding: 10px;
}
#header {
margin: 0 auto;
width: 600px;
background-color: #F0F0F0;
height: 200px;
padding: 10px;
}
#openCloseWrap {
	position: absolute;
	margin: 143px 0 0 120px;
	font-size: 12px;
	font-weight: bold;
	left: -8px;
	top: -174px;
}

.cont_form {
	width:237px;
	height:auto;
	margin: 0 auto;
	text-align:center;
	}

.div-widget1 {
	  height: 270px;
    margin-top: -282px;
    width: 236px;
	}



/*.contenedor{
    width: 300px;
    height: 500px;
    overflow: hidden;
    background-color: red;
	background-image:url(../img/background.jpg);
}*/

.fomulario_ingreso {
	position:absolute;
	margin:88px 50px;
	z-index:1;
	}
.logo {
	position:absolute;
	margin: 1px 88px;
	z-index:2;
	}
	
.ui-br {
	border-bottom: 0 !important;
		}


#page1{
  background: url(../img/background_v2.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;  

}
#servicios, #ubicacion, #nosotros{
  background: url(../img/background.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;  

}

.ui-btn-text {
	font-size:18px;
	}



/*elimino barra superior*/
.ui-bar-a {
	background:none !important;
	border:none !important;
	}
	
.sol_clave {
	display: block;
	margin: 0 auto;
	text-shadow:none;
	text-align:center;
	color:#FFFFFF;
	font-weight:normal;
	}


#img {
position: absolute;
max-width: 100%;
width: auto\9;

}


.home-content {
position: absolute;
z-index: 2;
top: 40%;
left: 25%;
display: inline-block;
text-align: center;
width: 50%;
margin: -38px;
}

#Logo {
display: inline-block;
padding-top: 15px;
}

#centrar {
	position:absolute;
	z-index: 5;
	display: inline-block;
text-align: center;
width: 50%;
margin: -38px;
	}

	
.ui-field-contain {
	z-index:2;
	position:relative;
	width:100%;
	}


	
.botonera .ui-btn-inner{
		padding:0 !important;
	}	

/*para roderar texto con imagen*/

.align-left {
float: left;
margin: 5px 15px 0 0;
/*fin*/

@media only screen and (max-width: 400px) {
  #images2 {
    background: none !important;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;  
	background-color:red;
	width: 0;
	height: 0;
}
                }

