body {
margin: 0;
font-size:16px;
color: #000000;
font-family:Arial, Helvetica, sans-serif;
}
#sliderWrap {
margin: 0 auto;
width: 300px;
}
#slider {

top:475px;
position: relative;
background-image:url(../img/slider.png);
background-repeat:no-repeat;
background-position: bottom;
width: 300px;
height: 159px;
margin-top: -141px;
}
#slider img {
border: 0;
}
#sliderContent {
margin: 50px 0 0 50px;
position: absolute;
text-align:center;
background-color:#FFFFCC;
color:#333333;
font-weight:bold;
padding: 10px;
}
#header {
margin: 0 auto;
width: 600px;
background-color: #F0F0F0;
height: 200px;
padding: 10px;
}
#openCloseWrap {
	position: absolute;
	margin: 143px 0 0 120px;
	font-size: 12px;
	font-weight: bold;
	left: -8px;
	top: -174px;
}
.contenedor{
    width: 300px;
    height: 500px;
    overflow: hidden;
    background-color: red;
	background-image:url(../img/background.jpg);
}

.fomulario_ingreso {
	position:absolute;
	margin:88px 50px;
	z-index:1;
	}
.logo {
	position:absolute;
	margin: 1px 88px;
	z-index:2;
	}